<div class="container-fluid" ng-controller="SubsoilCtrl">
  <ol class="breadcrumb">
    <li class="active">{{'settings.subsoil.bradcrump.header' | translate}}</li>
  </ol>
  <div growl></div>


  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-primary" ng-click="openCreateSubsoilModal()"
              ng-bind="'settings.subsoil.create-button' | translate"></button>
    </div>
    <div class="col-sm-6">
      <table class="table">
        <thead></thead>
        <tbody>
        <tr ng-repeat="subsoil in subsoils">
          <td class="col-sm-1">{{$index + 1}}</td>
          <td class="col-sm-6 text-left"><a href="#" editable-text="subsoil.name" onbeforesave="updateName(subsoil.id,$data)">{{subsoil.name}}</a></td>
          <td class="col-sm-1 text-right" ng-click="deleteSubsoil(subsoil.id)"><i class="fa fa-trash-o fa-lg hand-cursor" aria-hidden="true"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-3">&nbsp;</div>
  </div>
</div>
