<div class="container-fluid" ng-controller="outgoCtrl" ng-init="init()">
  <ol class="breadcrumb">
    <li class="active">{{'warehouse.outgo.breadcrumb.summary' | translate}}</li>
  </ol>
  <div ng-repeat="order in orders">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="row">
            <h4>
              <div class="col-lg-1 text-left">
                <i class="fa fa-arrow-left fa hand-cursor" aria-hidden="true" ng-click="unPrepareOrder(order.id)"></i>
              </div>
              <div class="col-lg-2">{{'order-admin.order.nr' | translate}} <b>{{order.id}}</b></div>
              <div class="col-lg-2">{{'order-admin.customer' | translate}} <b>{{order.customerName}}</b></div>
              <div class="col-lg-2">{{'order-admin.releaseDate' | translate}} <b> {{order.requiredDate}} </b> </div>
              <div class="col-lg-2" ng-show="order.plate">{{'order-admin.plate' | translate}} <b>{{order.plate}}</b></div>
              <div class="col-lg-2" ng-hide="order.plate">&nbsp;</div>
              <div class="col-lg-2" ng-show="order.description">{{'order-admin.description' | translate}} <b>{{order.description}}</b></div>
              <div class="col-lg-2" ng-hide="order.description">&nbsp;</div>
              <div class="col-lg-1 text-right">
                <i class="fa fa-list-ol fa-2x hand-cursor" aria-hidden="true" ng-click="openDeliveryLetter(order.id)"></i>
                <i class="fa fa-truck fa-2x hand-cursor" aria-hidden="true" ng-click="openReleaseBoard(order.id)"></i>
              </div>
            </h4>
          </div>
        </div>
        <div class="panel-body">
          <div ng-repeat="palette in order.palettes">
            <h4><strong>{{$index + 1}}. {{'order-admin.palette.nr' | translate}} {{findPaletteNo(palette.id)}}</strong>
            </h4>
            <ul class="list-inline list-group-item">
              <strong>
                <li class="col-lg-4" ng-bind="'order-admin.typeName' | translate"></li>
                <li class="col-lg-2" ng-bind="'order-admin.typeWeight' | translate"></li>
                <li class="col-lg-2 text-right" ng-bind="'order-admin.totalWeight' | translate"></li>
                <li class="col-lg-2 text-right" ng-bind="'order-admin.totalAmount' | translate"></li>
              </strong>
            </ul>
            <ul ng-repeat="batch in palette.batches" class="list-inline list-group-item">
              <li class="col-lg-4">{{batch.typeName}}</li>
              <li class="col-lg-2">{{batch.typeWeight | dotToCommaKg}}</li>
              <li class="col-lg-2 text-right">{{(batch.amount * batch.typeWeight) | dotToCommaKg}}</li>
              <li class="col-lg-2 text-right">{{batch.amount}}</li>
              </li>
            </ul>
            <div>&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


