<div class="container-fluid" ng-controller="DepotCtrl">
  <ol class="breadcrumb">
    <li class="active">{{'settings.depot.bradcrump.header' | translate}}</li>
  </ol>
  <div growl></div>
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-primary" ng-click="openCreateDepotModal()"
              ng-bind="'settings.depot.create-button' | translate"></button>
    </div>
    <div class="col-sm-6">
      <table class="table">
        <thead></thead>
        <tbody>
        <tr ng-repeat="depot in depots">
          <td class="col-sm-1">{{$index + 1}}</td>
          <td class="col-sm-6 text-left"><a href="#" editable-text="depot.name" onbeforesave="updateName(depot.id,$data)">{{depot.name}}</a></td>
          <td class="col-sm-1 text-right" ng-click="deleteDepot(depot.id)" ng-hide="depot.isUsed"><i class="fa fa-trash-o fa-lg hand-cursor" aria-hidden="true"></i></td>
          <td class="col-sm-1 text-right text-danger"  ng-show="depot.isUsed"><i class="fa fa-times" aria-hidden="true"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-3">&nbsp;</div>
  </div>
</div>
