<div class = "container-fluid" ng-controller="TypeSizeCtrl">
  <ol class="breadcrumb">
    <li class="active">{{'admin.typeSize.breadcrumb.header' | translate}}</li>
  </ol>
  <div growl></div>
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-primary" ng-click="openCreateTypeSizeModal()"
              ng-bind="'admin.typeSize.create-button' | translate"></button>
    </div>
    <div class="col-sm-6">
      <table class="table">
        <thead></thead>
        <tbody>
        <tr ng-repeat="size in sizes">
          <td class="col-sm-1">{{$index + 1}}</td>
          <td class="col-sm-6 text-left"><a href="#" editable-text="size.name" onbeforesave="updateName(size,$data)">{{size.name}}</a></td>
          <td class="col-sm-1 text-right" ng-click="openDeleteModal(size)"><i class="fa fa-trash-o fa-lg hand-cursor" aria-hidden="true"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-3">&nbsp;</div>
  </div>
</div>

