<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="UserCtrl">
  <div class="modal-dialog modal-small">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span
          aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-muted" ng-bind="'users.add-user.header' | translate"></h3>
      </div>

      <div class="modal-body">
        <form name="newUserForm">

          <div class="form-group" ng-class="{'has-error': newUserForm.username.$invalid || !isLoginUnique} ">
            <label for="username">{{'users.add-user.username' | translate}} <span ng-hide="isLoginUnique"
                                                                            class="text text-right text-danger">{{'users.add-user.nonUniqueLogin' | translate }}</span></label>
            <input type="text" required class="form-control text-right input-xs" id="username" name="username"
                   ng-model="addUser.login" ng-change="checkLoginUniqueness(addUser.login)" autocomplete="off">
          </div>


          <div class="form-group">
            <label for="name" ng-bind="'users.add-user.name' | translate"></label>
            <input type="text" class="form-control text-right input-xs" id="name" name="name" ng-model="addUser.name"
                   autocomplete="off">
          </div>

          <div class="form-group">
            <label for="surname" ng-bind="'users.add-user.surname' | translate"></label>
            <input type="text" class="form-control text-right input-xs" id="surname" name="surname"
                   ng-model="addUser.surname" autocomplete="off">
          </div>

          <div class="form-group">
            <label for="password" ng-bind="'users.add-user.password' | translate"></label>
            <input type="password" required class="form-control text-right input-xs" id="password" name="password"
                   ng-model="addUser.password" autocomplete="off">
          </div>

          <div class="checkbox">
            <input type="checkbox" id="panel" class="styled checkbox-danger" ng-model="addUser.panel" ng-init="addUser.panel = false">
            <label for="panel" ng-bind="'users.add-user.access.panel' | translate"></label>
          </div>

          <div class="checkbox">
            <input type="checkbox" id="dostepy" class="checkbox-success" ng-model="addUser.admin" ng-init="addUser.admin = false">
            <label for="dostepy" ng-bind="'users.add-user.access.dostepy' | translate"></label>
          </div>

          <div class="checkbox">
            <input type="checkbox" id="rozliczenia" class="checkbox-success" ng-model="addUser.place" ng-init="addUser.place=false">
            <label for="rozliczenia"  ng-bind="'users.add-user.access.rozliczenia' | translate"></label>
          </div>

          <div class="checkbox">
            <input type="checkbox" id="waga" class="checkbox-success" ng-model="addUser.waga" ng-init="addUser.waga=false">
            <label for="waga" ng-bind="'users.add-user.access.waga' | translate"></label>
          </div>

          <div class="checkbox">
            <input type="checkbox" id="leader" class="checkbox-success" ng-model="addUser.leader" ng-init="addUser.leader=false">
            <label for="leader" ng-bind="'users.add-user.access.leader' | translate"></label>
          </div>

          <div class="checkbox">
            <input type="checkbox" id="palety" class="checkbox-success" ng-model="addUser.palety" ng-init="addUser.palety=false">
            <label for="palety" ng-bind="'users.add-user.access.palety' | translate"></label>
          </div>

          <div class="checkbox">
            <input type="checkbox" id="handlowiec" class="checkbox-success" ng-model="addUser.handlowiec" ng-init="addUser.handlowiec=false">
            <label for="handlowiec" ng-bind="'users.add-user.access.handlowiec' | translate"></label>
          </div>


          <div class="checkbox">
            <input type="checkbox" id="hotel" class="checkbox-success" ng-model="addUser.hotel" ng-init="addUser.hotel=false">
            <label for="hotel" ng-bind="'users.add-user.access.hotel' | translate"></label>
          </div>

        </form>
      </div>


      <div class="modal-footer">
        <button type="submit" class="btn btn-default" ng-click="$hide()">{{'users.add-user.close' | translate}}</button>
        <button type="submit" class="btn btn-success" ng-disabled="newUserForm.$invalid || !isLoginUnique"
                ng-click="saveUser(addUser); $hide()">{{'users.add-user.save' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
