<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="PeopleCtrl">
  <div class="modal-dialog modal-small">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span
          aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-muted">{{person.name}} {{person.surname}}</h3>
      </div>
      <div class="modal-body">
        <form name="changePasswordForm">

          <div class="form-group">
            <label for="password" ng-bind="'person.changePassword.password' | translate" class="text-muted"></label>
            <input type="password" required class="form-control text-right input-xs" id="password" name="password"
                   ng-model="person.password" autocomplete="off" autofocus>
          </div>
        </form>
      </div>


      <div class="modal-footer">
        <button type="submit" class="btn btn-default" ng-click="$hide()">{{'users.add-user.close' | translate}}</button>
        <button type="submit" class="btn btn-success"
                ng-click="submitNewPassword(person.id, person.password); $hide()">{{'users.add-user.save' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
